{
    "plugins": [
        "@babel/plugin-syntax-dynamic-import"
    ],
    "presets": [
        [
            "@babel/preset-env",
            {
                "debug": true,
                "modules": false,
                "forceAllTransforms": false,
                "useBuiltIns": "entry",
                "corejs": "3",
                "targets": "last 4 Chrome versions, last 4 Firefox versions, last 4 Edge versions, last 2 Safari versions"
            }
        ]
    ]
}
