/vendor
/node_modules
/bower_components
Homestead.yaml
Homestead.json
.env
.env.prod
composer.phar
_ide_helper*
tests/_output/*
tests/_support/_generated/*
storage/debugbar
public/mix-manifest.json
public/fonts
composer.lock
