/*
  Tips:
  Denne filen kompileres med Laravel Mix.
  Kjør `npm run watch` for å bygge den etter hver endring.
  Se https://laravel.com/docs/5.8/mix for mer info.
  */

$break-sm: 768px
$break-md: 992px
$break-md: 1200px

// Variables
@import 'variables'

// Bootstrap
@import '~bootstrap/scss/bootstrap'


body
  // Always show scollbar to avoid jumping of centered content during page load
  overflow-y: scroll

div.dataTables_wrapper div.dataTables_processing
  position: fixed
  z-index: 1000
  background: transparent
  border: none
  top: 60%

/** --------------------------------------------------------------------------------------
  Spinner 1
 */

.spinner
  width: 120px
  height: 120px
  margin: 0 auto
  background-color: #333

  border-radius: 100%
  animation: sk-scaleout 1.0s infinite ease-in-out

@keyframes sk-scaleout
  0%
    transform: scale(0)
    opacity: 0.8
  100%
    transform: scale(1)
    opacity: 0

/** --------------------------------------------------------------------------------------
  Spinner 2
 */

.lds-heart
  display: inline-block
  position: relative
  width: 64px
  height: 64px
  transform: rotate(45deg)
  transform-origin: 32px 32px

  div
    top: 23px
    left: 19px
    position: absolute
    width: 26px
    height: 26px
    background: black
    animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1)

    &:after, &:before
      content: " "
      position: absolute
      display: block
      width: 26px
      height: 26px
      background: black

    &:before
      left: -17px
      border-radius: 50% 0 0 50%

    &:after
      top: -17px
      border-radius: 50% 50% 0 0

@keyframes lds-heart
  0%
    transform: scale(0.95)

  5%
    transform: scale(1.1)

  39%
    transform: scale(0.85)

  45%
    transform: scale(1)

  60%
    transform: scale(0.95)

  100%
    transform: scale(0.9)


/*******************************************************************
 * Tooltip
 *******************************************************************/

.tooltipster-sidetip.tooltipster-borderless .tooltipster-content
  text-align: center

/*******************************************************************
 * Header
 *******************************************************************/

header
  background: rgba(0, 0, 0, 0.05)
  margin-bottom: 18px

  #navbar_top
    display: flex
    padding-top: 4px
    justify-content: space-between

  h1
    padding: 20px 0
    color: #333

    a:link, a:visited
      color: #333

  .uio-header
    background: black
    img
      @media (max-width: $break-sm)
        margin: 7px 0 9px 0
        height: 10px
      @media (min-width: $break-sm)
        margin: 8px 0 10px 0
        height: 12.4px

  .dev, .testing
    background: orange
    text-align: center
    padding: 1em

  .production
    display: none


main
  margin-bottom: 40px

/*******************************************************************
 * Footer
 *******************************************************************/

footer
  background-color: black
  color: white
  font-size: 90%
  margin-top: auto
  padding: 1rem 0

  a:link, a:visited
    color: #bbb

  > div
    display: flex

    @media (max-width: $break-sm)
      flex-direction: column

    .logo
      background-image: url(/images/uio-segl.png)
      background-repeat: no-repeat
      background-position: center
      flex: 0 0 auto
      width: 110px
      height: 110px
      background-size: 90px 90px

      @media (max-width: $break-sm)
        width: 100px
        height: 100px
        background-size: 90px 90px

    > div
      flex: 1 1 auto
      margin-left: 10px
      margin-right: 10px


/*******************************************************************
 * DataTables
 *******************************************************************/

@media (max-width: 820px)
  .dataTables_wrapper .top
    display: none

.dataTables_wrapper .bottom, .dataTables_wrapper .top
  flex-wrap: wrap

table.dataTable

  tbody td
    color: #2771bb

  &.hover tbody tr:hover
    cursor: pointer
    background-color: #f8fafb

    td
      color: #1a4b7c

  thead th.dt-head-nowrap, thead td.dt-head-nowrap, tfoot th.dt-head-nowrap, tfoot td.dt-head-nowrap
    white-space: nowrap

  tbody th.dt-body-nowrap, tbody td.dt-body-nowrap
    white-space: nowrap

  th.sorting_asc,  th.sorting_desc
    font-style: italic


  thead


    .sorting:before, .sorting_asc:before, .sorting_desc:before
      opacity: 0

    .sorting:after
      content: "\25ba"
      transform: rotate(-90deg)
      font-style: normal
      opacity: 0.01
      transition: opacity .5s

    .sorting:hover, .sorting_asc:hover, .sorting_desc:hover
      color: #2771bb

    .sorting:hover:after
      opacity: 0.3

    .sorting_asc:after
      content: "\25ba"
      transform: rotate(-90deg)
      font-style: normal
      opacity: 1
      transition: transform .5s, opacity .5s

    .sorting_asc:hover:after
      color: #2771bb
      // transform: rotate(90deg)
      // opacity: 0.3

    .sorting_desc:after
      content: "\25ba"
      transform: rotate(90deg)
      font-style: normal
      opacity: 1
      transition: transform .5s, opacity .5s


div.dataTables_wrapper
  > div
    display: flex
    align-items: center
    margin-top: 6px

    div.dataTables_info
      padding-top: 0
      padding-bottom: 2px

    div.dataTables_length
      margin: 0 1em
      flex-grow: 1

    label
      margin-bottom: 0

/*******************************************************************
 * Algolia
 *******************************************************************/

.algolia-autocomplete
  width: 100%

  .aa-input, .aa-hint
    width: 100%

  .aa-hint
    color: #999

  .aa-dropdown-menu
    width: 100%
    background-color: #fff
    border: 1px solid #999
    border-top: none

  .aa-dropdown-menu .aa-suggestion
    cursor: pointer
    padding: 5px 4px

  .aa-dropdown-menu .aa-suggestion.aa-cursor
    background-color: #B2D7FF

  .aa-dropdown-menu .aa-suggestion em
    font-weight: bold
    font-style: normal

/*
  header, .container
    padding: 20px 0;
  }

  header #user
    float:right;
  }

  .alert-danger
    background: red;
    color: white;
    padding: .4em 1.2em;
    border-radius: 4px;
  }

  ul.authorlist
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  ul.authorlist li
    display: inline;
    margin: 0;
    padding: 0;
  }
  ul.authorlist li+li:not(.mfl):before
    content: '; ';
  }
  h3
    font-size: 125%;
  }
  */

.opes .record-view h4:first-child
  padding-top: 0
  margin-top: 0

.opes .record-view h4
  border-bottom: 1px solid #eee
  font-size: 140%

.opes .record-view dt
  font-weight: normal
  color: #888

.opes .record-view dt, .opes .record-view dd
  padding: 0 5px

.opes .record-view dl
  line-height: 1.2
  font-size: 90%

.opes .record-view badge
  font-size: 100%
